body {
    width: 100%;
}

.container {
    position: absolute;
    margin-left: calc(50% - 360px);
    border: 1px solid #aaaaaa;
    width: 720px;
    height: 1280px;
    text-align: center;
    font: bold Helvetica red, sans-serif;
}

#main {
    margin-top: 25%;
    left: 50%;
    position: absolute; 
    display: block;
    font: normal Helvetica #aaaaaa, sans-serif;
}

#login {
    margin-top: 25%;
    position: absolute;
    display: block;
    left: 400px;
    font: normal Helvetica #aaaaaa, sans-serif;
}

#signup {
    margin-top: 25%;
    position: absolute;
    display: block;
    right: 400px;
    font: normal Helvetica #aaaaaa, sans-serif;
}

.button_small {
    display: block;
    height: 40px;
    width: 50%;
    margin: auto;
    text-align: center;
    border: 1px;
    border-radius: 3px;
    background-color: green;
}

.button_large {
    display: block;
    height: 80px;
    width: 50%;
    margin: auto;
    line-height: 100%;
    text-align: center;
    line-height: 50%;
    border: 1px;
    border-radius: 3px;
    background-color: green;
}
