.container {
  position: absolute;
  margin: auto;
  border: 1px #aaaaaa
  width: 720;
  height: 1280;
  text-align: center;
  font: bold Helvetica red, sans-serif;
}

#main {
  position: relative;
  font: normal Helvetica #aaaaaa, sans-serif;
}

#login {
  position: relative;
  left: 400px;
  font: normal Helvetica #aaaaaa, sans-serif;
}

#signup {
  position: relative;
  right: 400px;
  font: normal Helvetica #aaaaaa, sans-serif;
}
