body {
  background-color:#303030;
  font-family:'Arvo',serif;
}
ul {
  list-style-type:none;
}
li {
  margin:0.5rem;
}
li::first-letter {
  font-weight:bold;
}
#jumbo {
position: relative;
top: -20px;
left: 0px;
width: 100%;
height: auto;
}
#jumbo img {
  position: relative;
  width: 100%;
  height: auto;
}
#headline {
  position:absolute;
  width:50%;
  left:25%;
  top:10%;
  display:inline-block;
  text-align:center;
  color:#FFFFFF;
  min-width:240px;
}
#sub {
  position: relative;
  top left: 0px;
  display: block;
  width: 100%;
  height: auto;
  color:#F0F0F0;
}
.col {
  text-align:center;
  position: relative;
  display: inline-block;
  float:left;
  width: calc(90%/3);
  height: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2.5%;
}
.col h2 {
  margin: auto;
  margin-bottom: 1em;
  padding: 0.5em;
  border-bottom: solid 1px #F0F0F0;
}
@media all and (max-width: 600px) {
  #headline {
    position:relative;
    color:#000000;
    left:0;
    width:100%;
  }
  .col {
    display:block;
    width:90%;
  }
}
