div {
  border: 1px solid black;
}

#header {
  background-color: #4d3571;
  height: 100px;
  width: 100%;
  z-index: 1;
}

#header img {
  display: block;
  position: relative;
  float: left;
  z-index: 2;
}

.container {
  width: 80%;
  height: 100%;
  display: block;
  margin: 10%;
}

.column {
  height: 100%;
  width: 33%;
  display: inline-block;
  margin: 0px;
}

.column img {
  width: 100%;
}
