html,
body {
    z-index:1;
    margin: 0;
    height: 100%;
    font-family: "Merriweather", sans-serif;
    font-size:30px;
    background-image:url('/images/background.jpg');
}
#area_choice {
    display:block;
    position:absolute;
    z-index:2;
    left:50%;
    transform:translateX(-50%);
    top:30%;
    text-align:center;
    transition: opacity 0.2s ease;
}
#area_choice h4 {
    margin:0.5em;
    font-size:1.5em;
}
.button {
    margin: 1em auto;
    padding:0.5em;
    background-color:#00B0EB;
    border:none;
    border-radius:2px;
    color:#FFFFFF;
    cursor:pointer;
}
#container {
    position: relative;
    display: block;
    z-index:0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: opacity 0.2s ease;
}

#header {
    position: relative;
    display: block;
    width: 100%;
    height: 2.25rem;
    line-height: 2.25rem;
    background-color: #00B0EB;
    color: #FFFFFF;
}

#header_title {
    display:inline-block;
    float:left;
    margin-left: 1em;
}

#nameplate {
    font-size: 0.75em;
    display:inline-block;
    float:right;
    margin-right: 1em;
}
#nameplate a {
    color:#FFFFFF;
    text-decoration: none;
}

#content {
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    height: calc(100% - 2.25rem);
    background-color: #FAFAFA;
    overflow:hidden;    /*fix child margin issue*/
}

#map {
    z-index:2;
    position: relative;
    display: block;
    margin:auto;
    width: 100%;
    height: 100%;
}
