#app {
	display:grid;
	width:100vw;
	height:100vh;
	grid-template-columns: 200px auto;
	grid-template-rows: 100px auto;
	font-family:Roboto,Arial,sans-serif;
}

#app #header {
	background-color:#90ccf4;
	grid-column:1 / 3;
	grid-row:1;
	/*grid-area:header;*/
}

#app #sidebar {
	background-color:#ececec;
	grid-column:1;
	grid-row:2 / 3;
	/*grid-area:sidebar;*/
}

#app #sidebar li {
	list-style:none;
}

#app #sidebar li a {
	text-decoration:none;
}