/*
colors
yellow:	#fecd21;
orange: #f19a4b;
darkorange: #c66c41;
red: 	#a83838;
darkred: #831f1f;
*/

body {
	margin:0;
}

#app {
	display:grid;
	width:100vw;
	height:100vh;
	grid-template-columns: 360px auto;
	grid-template-rows: 100px auto;
	font-family:Rubik,Arial,sans-serif;
	font-weight:400;
}

#app div,
#app fieldset {
	box-sizing:border-box;
}

#app button {
	outline:none;
	border:none;
	text-align:center;
	cursor:pointer;
}

#app #header {
	background-color:#a83838;
	grid-column:1 / 3;
	grid-row:1;
	/*grid-area:header;*/
	padding:10px;
}

#app #header #header-img {
	display:inline-block;
	height:80px;
	width:auto;
}

#app #header #header-title {
	display:inline-block;
	margin:0;
	font-size:48px;
	line-height:80px;
	font-weight:700;
}

#app #sidebar {
	background-color:#ececec;
	grid-column:1;
	grid-row:2 / 3;
	border-right: 1px solid #a0a0a0;
	text-align:center;
	overflow:auto;
}

#app #sidebar .sidebar-block {
	display:block;
	width:calc(100% - 16px);
	height:auto;
	margin: 8px 8px 0 8px;
	padding:16px;
	background-color:#ffffff;
	border-radius:5px;
}

#app #sidebar .sidebar-block .weapon-choice-block {
	display:block;
	border:1px solid #a0a0a0;
	border-radius:3px;
}

#app #sidebar .sidebar-block fieldset {
	display:block;
	width:100%;
	border:none;
	padding:0;
	margin:0;
}

#app #sidebar .sidebar-block fieldset legend {
	margin-bottom:16px;
}

#app #sidebar .sidebar-block fieldset input[type="radio"] {
	opacity:0;
	position:absolute;
	width:0;
}

#app #sidebar .sidebar-block fieldset input[type="radio"] + label {
	display:inline-block;
	text-align:center;
	width:40px;
	height:40px;
	line-height:40px;
	border-radius:5px;
	border:none;
	font-weight:500;
	opacity:0.5;
	cursor:pointer;
}

#app #sidebar .sidebar-block fieldset input[type="radio"] + label:hover,
#app #sidebar .sidebar-block fieldset input[type="radio"] + label:focus,
#app #sidebar .sidebar-block fieldset input[type="radio"]:focus + label {
	box-shadow:2px 2px 0 0 ;
}
#app #sidebar .sidebar-block fieldset input[type="radio"] + label:active,
#app #sidebar .sidebar-block fieldset input[type="radio"]:checked + label {
	opacity:1;
}

#app #sidebar .sidebar-block fieldset input[type="radio"] + label#weapon-count-1 {
	background-color:#fecd21;
}
#app #sidebar .sidebar-block fieldset input[type="radio"] + label#weapon-count-2 {
	background-color:#f19a4b;
}
#app #sidebar .sidebar-block fieldset input[type="radio"] + label#weapon-count-3 {
	background-color:#c66c41;
}
#app #sidebar .sidebar-block fieldset input[type="radio"] + label#weapon-count-4 {
	background-color:#a83838;
}
#app #sidebar .sidebar-block fieldset input[type="radio"] + label#weapon-count-5 {
	background-color:#831f1f;
}

#app #sidebar .sidebar-block fieldset input[type="radio"] + label:not(:last-child) {
	margin-right:20px;
}

#app #sidebar .sidebar-block .weapon-tag-input {
	opacity:0;
	position:absolute;
	width:0;
}

#app #sidebar .sidebar-block .weapon-tag {
	padding:2px;
	border-radius:3px;
	background-color:#fecd21;
	font-size:16px;
	font-weight:500;
}

#app #sidebar .sidebar-block .weapon-tag:nth-child(n+12) {
	background-color:#f19a4b;
}
#app #sidebar .sidebar-block .weapon-tag:nth-child(n+24) {
	background-color:#c66c41;
}
#app #sidebar .sidebar-block .weapon-tag:nth-child(n+36) {
	background-color:#a83838;
}


#app #sidebar #sidebar-submit-button {
	width:auto;
	margin-top:32px;
	padding:24px;
	font-size:32px;
	font-weight:700;
	border-radius:5px;
	background-color:#a83838;
}

#app #main {
	grid-column:2 / 3;
	grid-row:2 / 3;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-evenly;
  	align-content:space-evenly;
	padding:0;
}

#app #main .weapon-item {
	display:inline-block;
	width:276px;
	height:276px;
	padding:16px;
	background-color:#f0f0f0;
	border-radius:5px;
	text-align:center;
	vertical-align:top;
}

#app #main .weapon-item:nth-child(1) {
	background-color:#fecd21;
}
#app #main .weapon-item:nth-child(2) {
	background-color:#f19a4b;
}
#app #main .weapon-item:nth-child(3) {
	background-color:#c66c41;
}
#app #main .weapon-item:nth-child(4) {
	background-color:#a83838;
}
#app #main .weapon-item:nth-child(5) {
	background-color:#831f1f;
}
#app #main .weapon-item .weapon-name {
	font-size:32px;
	font-weight:500;
}

#app #main .weapon-item .weapon-cost {
	font-size:24px;
	font-weight:400;
}