#app {
	display:grid;
	width:100vw;
	height:100vh;
	grid-template-columns: 300px auto;
	grid-template-rows: 100px auto;
	font-family:Rubik,Arial,sans-serif;
	font-weight:400;
}

#app div,
#app fieldset {
	box-sizing:border-box;
}

#app #header {
	background-color:#90ccf4;
	grid-column:1 / 3;
	grid-row:1;
	/*grid-area:header;*/
	padding:10px;
}

#app #header #header-img {
	display:inline-block;
	height:80px;
	width:auto;
}

#app #header #header-title {
	display:inline-block;
	font-size:48px;
	font-weight:700;
}

#app #sidebar {
	background-color:#FFFFFF;
	grid-column:1;
	grid-row:2 / 3;
	text-align:center;
	overflow:auto;
}

#app #sidebar .sidebar-block {
	display:block;
	width:calc(100% - 16px);
	height:auto;
	margin: 8px 8px 0 8px;
	padding:16px;
	background-color:#ececec;
	border-radius:5px;
}

#app #sidebar .sidebar-block fieldset {
	display:block;
	width:100%;
}

#app #sidebar .sidebar-block fieldset input[type="radio"] {
	display:none;
}

#app #sidebar .sidebar-block fieldset input[type="radio"] + label {
	display:inline-block;
	text-align:center;
	width:40px;
	height:40px;
	border-radius:5px;
	border:none;
	font-weight:500px;
}

#app #main {
	grid-column:2 / 3;
	grid-row:2 / 3;
	text-align:center;
}