<html>
<head>
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="dice.css">
	<script src="weaponData.json"></script>
	<link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap" rel="stylesheet">
</head>
<body>

	<div id="app">

		<div id="header">
			<h1 id="header-title">{{header.title}}</h1>
		</div>

		<div id="sidebar">
			<form name="weapon-options-form">
				<fieldset class="sidebar-block">
					<legend class="sidebar-header">Number of Weapons</legend>
					<input type="radio" value="1" v-model="formData.weaponCount" id="weapon-choice-1"/>
					<label for="weapon-choice-1" id="weapon-count-1" class="weapon-count-label">1</label>
					<input type="radio" value="2" v-model="formData.weaponCount" id="weapon-choice-2"/>
					<label for="weapon-choice-2" id="weapon-count-2" class="weapon-count-label">2</label>
					<input type="radio" value="3" v-model="formData.weaponCount" id="weapon-choice-3"/>
					<label for="weapon-choice-3" id="weapon-count-3" class="weapon-count-label">3</label>
					<input type="radio" value="4" v-model="formData.weaponCount" id="weapon-choice-4"/>
					<label for="weapon-choice-4" id="weapon-count-4" class="weapon-count-label">4</label>
					<input type="radio" value="5" v-model="formData.weaponCount" id="weapon-choice-5"/>
					<label for="weapon-choice-5" id="weapon-count-5" class="weapon-count-label">5</label>
				</fieldset>

				<!--

				<div class="sidebar-block" v-if="formData.weaponCount > 0">
					<div class="weapon-choice-block"
					v-for="(weapon, index) in formData.weaponCount">
						<fieldset>
							<legend>Weapon {{index}}</legend>
							<label v-bind:for="'weapon-mincost-' + (index+1)">Min Weapon Cost
							<input type="range" min="1" max="500" value="250" class="cost-slider" v-bind:id="'weapon-mincost-' + (index+1)" v-model="formData.minWeaponCost[index]">
							<label v-bind:for="'weapon-maxcost-' + (index+1)">Max Weapon Cost
							<input type="range" min="1" max="500" value="250" class="cost-slider" v-bind:id="'weapon-maxcost-' + (index+1)" v-model="formData.maxWeaponCost[index]">
					</div>
				</div>
			-->

			<fieldset class="sidebar-block">
				<legend class="sidebar-header">Weapon Types:</legend>

				<input id="include-melee" class="include-checkbox" type="checkbox" value="melee" v-model="formData.weaponTypes" v-on:click="toggleWeaponType($event,'melee')"/>
				<label for="include-melee" class="include-type-label">Melee</label>

				<input id="include-ranged" class="include-checkbox" type="checkbox" value="ranged" v-model="formData.weaponTypes" v-on:click="toggleWeaponType($event,'ranged')"/>
				<label for="include-ranged" class="include-type-label">Ranged</label>

				<input id="include-traps" class="include-checkbox" type="checkbox" value="traps" v-model="formData.weaponTypes" v-on:click="toggleWeaponType($event,'traps')"/>
				<label for="include-traps" class="include-type-label">Traps</label>

				<input id="include-shields" class="include-checkbox" type="checkbox" value="shields" v-model="formData.weaponTypes" v-on:click="toggleWeaponType($event,'shields')"/>
				<label for="include-shields" class="include-type-label">Shields</label>

			</fieldset>

			<fieldset class="sidebar-block">
				<legend class="sidebar-header">Available Weapons</legend>
				<div class="weapon-tag-wrapper" v-for="weapon in weaponData">
					<input type="checkbox" class="weapon-tag-input" v-bind:id="'tag-' + weapon.weaponName" v-bind:value="weapon.weaponName" v-model="formData.excludedWeapons"/>
					<label v-bind:for="'tag-' + weapon.weaponName" class="weapon-tag">{{weapon.weaponName}}</label>
				</div>
				<div class="exclude-button-block">
					<button type="button" class="clear-exclude" v-on:click="clearExcludedWeapons">Clear</button>
					<button type="button" class="exclude-all" v-on:click="excludeAllWeapons">Exclude All</button>
				</div>
			</fieldset>

			<button type="button" id="sidebar-submit-button" v-on:click="randomizeWeapons">Randomize</button>
		</form>
	</div>

	<div id="main">
		<div class="weapon-item" v-if="chosenWeapons.length > 0" v-for="weapon in chosenWeapons">
			<h3 class="weapon-name">{{weapon.weaponName}}</h3>
			<p class="weapon-cost">{{weapon.weaponCost}} moneys</p>
		</div>
	</div>

</div>

<script src="dice.js"></script>

</body>